/*!
 * 页面蒙版颜色、透明度样式
* overlay-color.css
 * add by Akari_404
 * Akari's Blog:  https://www.aiphm.cn/share/index.html
 */

/* 调色盘按钮  */
#colorPad {
    position: fixed;
    bottom: -26px;
    left: -30px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #D3DDE9;
    border: 5px solid #fff;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,.25);
}

/* 弹窗 */
#colorPanel {
    position: fixed;
    bottom: 65px;
    left: 15px;
    z-index: 9999;
    background: #fff;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,.15);
    display: none;
    font-size: 14px;
}

#colorPanel .swatch{
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 4px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #ddd;
}

#opacityRange{
    width: 210px;
    margin: 8px 0;
}